<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
  <link rel="stylesheet" href="/styles.css">
  <title>Relationship Builder App</title>
</head>

<body>
  <div class="container">

    <h1 class="text-center"><span>R</span><span>E</span><span>L</span><span>A</span><span>T</span><span>I</span><span>O</span><span>N</span><span>S</span><span>H</span><span>I</span><span>P</span>  <span> </span> <span>B</span><span>U</span><span>I</span><span>L</span><span>D</span><span>E</span><span>R</span> <span></span> <span>A</span><span>P</span><span>P</span></h1>
        
  </div>
  <div class="fluid-container d-flex justify-content-center">
    <div class="left form1 w-75 mt-2 mb-4 ml-4 border p-2 text-center">
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Person-1</th>
              <th scope="col">Relationship</th>
              <th scope="col">Person-2</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i<relationShipData.length; i++){ %>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td> <%= relationShipData[i].personOne %> </td>
                <td> <strong><%= relationShipData[i].relationShip %></strong> </td>
                <td> <%= relationShipData[i].personTwo %></td>
              </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="right form w-25 mt-2 mb-4 mr-4 border p-2 text-center border-right-0 bg-light">
      <div class="container">
        <form action="/addToTheTable" method="post">
          <h5 class="text-left pt-1">Add Person & Relations</h5>
          <input type="text" name="personOne" class="personOne form-control mt-2 mb-3" placeholder="Enter First Person">
          <input type="text" name="personTwo" class="personTwo form-control mb-2" placeholder="Enter Second Person">
          <div class="form-group text-left">
            <label for="exampleFormControlSelect1">Choose Tag Of Relationship:</label>
            <select name="relationShip" class="form-control relationShip" id="exampleFormControlSelect1">
              <option>Father</option>
              <option>Mother</option>
              <option>Brother</option>
              <option>Sister</option>
              <option>Uncle</option>
              <option>Aunt</option>
              <option>Nephew</option>
              <option>Neice</option>
              <option>GrandFather</option>
              <option>GrandMother</option>
              <option>Father-In-Law</option>
              <option>Mother-In-Law</option>
              
            </select>
            <button type="submit" class="btn  mt-3">
              <span>ADD</span></button>
          </div>
        </form>
      </div>
      <div class="fluid-container border mt-2 mb-2">

      </div>
      <div class="container ">
        <form action="/updateRelationshipTags" method="post">
          <h5 class="text-left pt-1">Update Tag Here </h5>
          <input type="text" name="personOne" class="personOne form-control mt-2 mb-3" placeholder="Select First Person">
          <input type="text" name="personTwo" class="personTwo form-control mb-2" placeholder="Select Second Person">
          <div class="form-group text-left">
            <label for="exampleFormControlSelect1">Choose Tag Of Relationship:</label>
            <select name="relationShip" class="form-control relationShip" id="exampleFormControlSelect1">
              <option>Father</option>
              <option>Mother</option>
              <option>Brother</option>
              <option>Sister</option>
              <option>Uncle</option>
              <option>Aunt</option>
              <option>Nephew</option>
              <option>Neice</option>
              <option>GrandFather</option>
              <option>GrandMother</option>
              <option>Father-In-Law</option>
              <option>Mother-In-Law</option>
            </select>
            <button type="submit" class="btn  mt-3"><span>Update Tags</span></button>
          </div>
        </form>
      </div>
      <div class="container ">
        <form action="/degreesOfSeperations" method="post">
          <h5 class="text-left pt-1">Degrees Of Separation</h5>
          <input type="text" name="personOne" class="personOne form-control mt-2 mb-3" placeholder="Select First Person">
          <input type="text" name="personTwo" class="personTwo form-control mb-2" placeholder="Select Second Person">
          <div class="form-group text-left">
            <button type="submit" class="btn   mt-3"><span>See The Separation</span></button>
          </div>
        </form>
      </div>
    </div>
   
  </div>


  <script src="/main.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
